<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->

    @RenderSection("CSS", required: false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Admin Panel</title>
</head>

<body>


    <div class="top-section blue-bar blue-background">
        <div class="hamburger" onclick="showBG()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        @*<div class="dropdown">*@
            <img src="/images/user.png" alt="user logo">
            @*<div class="dropdown-content">
                <a href="#">Logout</a>
            </div>*@
        @*</div>*@
     
    </div>

    <div class="bottom-section">
        <div class="left-section blue-background">
            <div class="image-banner">
                <img src="/images/logo.png" alt="wartsilla logo">
            </div>
            <div class="features">
                <div class="manage-users">
                    <img src="/images/users.png" alt="manage user logo">
                    <button id="manageUser">Manage Users</button>

                </div>
                <div class="manage-games">
                    <img src="/images/game.png" alt="manage game logo">
                    <button id="manageGames">Manage Games</button>
                </div>
                <div class="manage-events">
                    <img src="/images/calendar.png" alt="manage event logo">
                    <button id="manageEvents">Manage Events</button>
                </div>

                <div class="manage-points">
                    <img src="/images/points.png" alt="manage points logo">
                    <button id="managePoints">Manage Points</button>
                </div>

                <div class="manage-milestone">
                    <img src="/images/milestone.png" alt="manage milestone logo">
                    <button id="manageMilestone">Manage Milestones</button>
                </div>

                <div class="manage-report">
                    <img src="~/images/report.png" alt="manage report logo">
                    <button id="manageReport">Manage Reports</button>
                </div>
            </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#manageUser").click(function () {
                location.href = "/User/ManageUser";
            });

            $("#manageGames").click(function () {
                location.href = "/Game/ManageGames";
            })

            $("#manageEvents").click(function () {
                location.href = "/Event/ManageEvents";
            })


            $("#managePoints").click(function () {
                location.href = "/Point/ManagePoints";
            })

             $("#manageMilestone").click(function () {
                location.href = "/Milestone/ManageMilestones";
             })

             $("#manageReport").click(function () {
                location.href = "/Report/GenerateReport";
             })



        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
