* {
    margin: 0;
    padding: 0;
    font-family: "Sunflower", sans-serif;
    outline: none;
    text-decoration: none;
}

.top-section {
    width: 100%;
    height: 6vh;
}

.blue-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* horizontal settings */
    align-items: center; /* vertical settings */
}

.top-section img {
    height: 40px;
    padding: 2px;
    padding-right: 20px;
    float: right;
}

.hamburger {
    height: 28px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding-left: 20px;
    /* display:none; */
}

.line {
    height: 6px;
    width: 30px;
    background-color: #fff;
    border-radius: 2.5px;
}

.blue-background {
    background: #086795;
}

.white-background {
    background: #fff;
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 700px;
}

    .bottom-section .left-section {
        flex: 1;
        z-index: 5;
        box-shadow: 4px 1px 5px 0px rgba(50, 50, 50, 0.3);
    }

        .bottom-section .left-section .image-banner {
            height: 220px;
            background: #fff;
            border: 1px solid #fff;
        }

.left-section .image-banner img {
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.left-section .features button {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
}

    .left-section .features button:hover {
        text-decoration: underline;
    }

.left-section .features {
    width: 100%;
    height: 450px;
    padding-top: 7%;
}

    .left-section .features .manage-users {
        display: flex;
        height: 80px;
        padding-left: 45px;
        padding-top: 15px;
        margin-bottom: 12px;
    }

        .left-section .features .manage-users img {
            height: 35px;
        }

        .left-section .features .manage-users button {
            flex: 1;
            padding-bottom: 30px;
            padding-right: 60px;
        }

    .left-section .features .manage-games {
        display: flex;
        height: 80px;
        padding-left: 45px;
    }

        .left-section .features .manage-games img {
            height: 35px;
        }

        .left-section .features .manage-games button {
            flex: 1;
            padding-bottom: 42px;
            padding-right: 50px;
        }

    .left-section .features .manage-events {
        display: flex;
        height: 80px;
        padding-left: 45px;
    }

        .left-section .features .manage-events img {
            height: 35px;
        }

        .left-section .features .manage-events button {
            flex: 1;
            padding-bottom: 42px;
            padding-right: 50px;
        }

    .left-section .features .manage-points {
        display: flex;
        height: 80px;
        padding-left: 45px;
    }

        .left-section .features .manage-points img {
            height: 35px;
        }

        .left-section .features .manage-points button {
            flex: 1;
            padding-bottom: 40px;
            padding-right: 52px;
        }

    .left-section .features .manage-milestone {
        display: flex;
        height: 80px;
        padding-left: 45px;
    }

        .left-section .features .manage-milestone img {
            height: 35px;
        }

        .left-section .features .manage-milestone button {
            flex: 1;
            padding-bottom: 40px;
            padding-right: 16px;
        }


.right-section {
    flex: 4;
    z-index: 0;
}

    .right-section .title {
        padding-left: 16px;
        padding-top: 9px;
        font-size: 25px;
        font-weight: bold;
    }

p.title-control {
    margin: 0;
}

.right-section hr.divider {
    border: 1px solid lightgray;
    border-bottom: none;
    margin-top: 55px;
}

.right-section .view-buttons {
    height: 55px;
    width: 300px;
    display: flex;
    padding-left: 2px;
}

    .right-section .view-buttons button {
        color: black;
        font-weight: bold;
        text-align: center;
        background: transparent;
        border: none;
        cursor: pointer;
    }

        .right-section .view-buttons button:hover {
            border-bottom: 1px solid #086795;
            color: #086795;
            border-bottom-width: medium;
        }

    .right-section .view-buttons .view-details {
        flex: 1;
    }

    .right-section .view-buttons .view-deleted {
        flex: 1;
    }

.right-section .search-bar {
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    margin-left: 13px;
    width: 95%;
    height: 50px;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: row;
}

    .right-section .search-bar .input-field-search {
        display: flex;
        flex: 5;
        padding-top: 5px;
        padding-left: 20px;
    }

        .right-section .search-bar .input-field-search img {
            height: 22px;
            margin-top: 5px;
        }

        .right-section .search-bar .input-field-search input {
            width: 250px;
            height: 30px;
            border: none;
            padding-top: 5px;
            padding-left: 12px;
            font-size: 15px;
        }

    .right-section .search-bar .input-field-search2 {
        display: flex;
        flex: 1;
        padding-top: 7px;
        padding-right: 20px;
    }

        .right-section .search-bar .input-field-search2 input {
            height: 22px;
            margin-top: 5px;
        }

        .right-section .search-bar .input-field-search2 label {
            height: 30px;
            padding-top: 7px;
            padding-left: 10px;
            font-size: 15px;
            color: darkblue;
        }



.orange-background {
    background: #ff7321;
}

.right-section .search-fields {
    width: 95%;
    margin-left: 13px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-top: 1px solid transparent;
}

    .right-section .search-fields .first-row {
        display: flex;
        flex: 1;
        align-items: center;
        padding-left: 60px;
    }

.first-row label {
    font-size: 16px;
    font-weight: normal;
}



.departmentColumn label,
select {
    display: inline-block;
    vertical-align: middle;
}



.search-fields .first-row .departmentColumn {
    flex: 1;
    display: flex;
}

    .search-fields .first-row .departmentColumn label {
        padding-top: 10px;
    }

.departmentColumn select {
    width: 30%;
    height: 40px;
    margin-left: 49px;
}

.right-section .search-fields .second-row {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 60px;
}

.rightsColumn label,
select {
    display: inline-block;
    vertical-align: middle;
}


.second-row label {
    font-size: 16px;
    font-weight: normal;
    padding-top: 10px;
}

.rightsColumn {
    display: flex;
    flex: 1;
}


    .rightsColumn select {
        width: 30%;
        height: 40px;
        margin-left: 30px;
    }


#datatable {
    width: 95%;
    margin-left: 13px;
}

    #datatable thead {
        color: #fff;
    }

    #datatable th {
        text-align: center;
    }

/* 
    .black-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      top: 6vh;
      left: 0;
      height: 94vh;
      width: 100vw;
      position: absolute;
      display: none;
      z-index: 4; 
    }*/

@media only screen and (max-width: 800px) {
    .bottom-section .left-section {
        display: none;
        z-index: 5;
    }

    .hamburger {
        display: flex;
    }
}
