@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Scripts {

}

@section CSS {
    <link href="~/styles/dashboard.css" rel="stylesheet" />
}


<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Dashboard</p>
    </div>

    <hr class="divider">
</div>
<!-- <script>

    let show = true;
    function showBG() {
        show = !show;
        if (show) {
            document.getElementsByClassName("black-overlay")[0].style.display = "block";
            document.getElementsByClassName("left-section")[0].style.display = "block";

        } else {
            document.getElementsByClassName("black-overlay")[0].style.display = "none";
            document.getElementsByClassName("left-section")[0].style.display = "none";
        }
    }
</script> -->
