@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        function loadDepartments() {
            var url = "https://localhost:44300/api/v1/departments"
            var $loadhandler = jQuery.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            });
            $loadhandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                $.each(data, function (key, obj) {
                    //console.log(key)
                    console.log(obj)
                    console.log(obj.departmentName)
                    $("#department").append($("<option></option>")
                        .attr("value", obj.departmentId)
                        .text(obj.departmentName));
                });
            });

        }
        loadDepartments();


        function loadRoles() {
            var url = "https://localhost:44300/api/v1/roles"
            var $loadhandler = jQuery.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            });
            $loadhandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                $.each(data, function (key, obj) {
                    //console.log(key)
                    console.log(obj)
                    console.log(obj.roleName)
                    $("#rights").append($("<option></option>")
                        .attr("value", obj.roleId)
                        .text(obj.roleName));
                });
            });

        }
        loadRoles();

 
    </script>
}

@section CSS {
    <link href="~/styles/adduser.css" rel="stylesheet" />
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Users</p>
    </div>
    <div class="view-buttons">
        <button class="view-details" type="button">
            View User Details
        </button>
        <button class="view-deleted" type="button">
            View Deleted Users
        </button>

    </div>
    <hr class="divider">
  
        <div class="edit-container">
            <div class="title-bar orange-background">
                <p class="panel-header">Add User</p>

            </div>
            <div class="row1-employeeID">
                <label class="normal-weight" for="employeeID">Employee ID:</label>
                <input type="text" name="employeeID">
            </div>
            <div class="row2-employeeName">
                <label class="normal-weight" for="employeeName">Employee Name:</label>
                <input type='text' name='employeeName' />
            </div>
            <div class="row3-department">
                <label class="normal-weight" for="department">Department:</label>
                <select class="form-control" id="department">
                    <option value="" selected disabled hidden>Select...</option>
                </select>
            </div>
            <div class="row4-rights">
                <label class="normal-weight" for="rights">Access Rights:</label>
                <select class="form-control" id="rights">
                    <option value="" selected disabled hidden>Select...</option>
                </select>
            </div>
            <div class="row5-status">
                <label class="normal-weight" for="status">Account Status:</label>
                <select class="form-control" id="status">
                    <option value="" selected disabled hidden>Select...</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </div>
            <div class="row6-buttons">

                <button class="save">Save</button>
                <button class="cancel">Cancel</button>
            </div>
        </div>
  

</div>
