@{
    Layout = "../Shared/_Layout.cshtml";
}

@model IEnumerable<AdminPortal.Models.Employee>

@section Scripts {
    <script type="text/javascript" src="~/Script/tokenHelper.js"></script>
    <script type="text/javascript" src="~/Script/baseURL.js"></script>
    <script type="text/javascript" src="~/Script/formValidator.js"></script>
    <script>
        var baseURL = getBaseURL();
        // Start of getting userId from addressbar
        var g_userId = getIdFromAddressBar();
        function getIdFromAddressBar() {
            var urlArray = window.location.href.split('/');
            var id = urlArray[urlArray.length - 1];
            return id;
        }

        function getUserDetails(sessionObject) {
            bearerToken = sessionObject.Token1;
            var url = baseURL + "/api/v1/users/" + g_userId
            //var url = "https://localhost:44300/api/v1/users/" + g_userId
            $loadUserDataHandler = jQuery.ajax({
                type: 'GET',
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + bearerToken);
                },
                url: url,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            })
            $loadUserDataHandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                var user = data;
                employeeId = user[0].employeeId;
                console.log("Employee ID: " + employeeId);
                $('#employeeID').val(employeeId);
            }) //end of done

        }

        $.when(tokenIsValid, getTokenSession(getUserDetails));


        //Using a function technique to define a JavaScript class, WebFormData
        function WebFormData(inCollectedUsername, inCollectedPassword) {
            this.Username = inCollectedUsername;
            this.Password = inCollectedPassword;
        }

        function save() {

            var collectedEmployeeId = $('#employeeID').val();
            var collectedPassword = $('#newPassword').val();


            //Create a WebFormData object, webFormData. Have its field values
            //populated with the collected course data
            var webFormData = new WebFormData(collectedEmployeeId,
                collectedPassword);
            //Convert the webFromData into a JSON string
            var webFormDataInString = JSON.stringify(webFormData);

            console.log(webFormDataInString);

            var url = "https://localhost:44300/api/v1/changePassword"

            $updateCourseHandler = jQuery.ajax({
                type: 'PUT',
                url: url,
                dataType: 'json',
                contentType: 'application/json;',
                data: "'" + webFormDataInString + "'"
            })//end of jQuery.ajax() call
            $updateCourseHandler.done(function (data, textStatus, jqXHR) {
                alert("Password Updated Successfully");
                location.href = "/User/ChangePassword/" + g_userId
            });//end of $updateCourseHandler.done()

            $updateCourseHandler.error(function (data, textStatus, jqXHR) {
                console.log(data.responseJSON.message);
            });//end of $updateCourseHandler.error()*/

        }
        function back() {
            location.href = "/User/ManageUser";
        }

        function viewUser() {
            location.href = "/User/ManageUser";
        }

        function viewDeletedUser() {
            location.href = "/User/ManageDeletedUser";
        }

             // check if all the fields in the form is valid
        function formIsValid() {

            var valid = true;
            var errorMsg = "";

            // check if employee id is valid
            var obj = passwordValidation($('#newPassword').val());
            //if valid == false
            if (!obj.isValid) {
                valid = obj.isValid;
                console.log(obj.errorMsg.toString());
                // show error msg here
            $('#hiddenField1').show().text(obj.errorMsg.toString());
            } else {
                // make the error msg disappear
                $('#hiddenField1').hide();
                console.log("no more error msg for datetime")
            }


            // check if employee name is valid
            var descriptionObj = passwordValidation($('#confirmPassword').val());
            if (!descriptionObj.isValid) {
                valid = descriptionObj.isValid;
                console.log(descriptionObj.errorMsg.toString())
                // show error msg here
             $('#hiddenField2').show().text(descriptionObj.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField2').hide();
                console.log("no more error msg for description")
            }

            // password part
            if ($('#newPassword').val() != $('#confirmPassword').val()) {
                valid = false;
                // show error msg here
                $('#hiddenField3').show().text("Both passwords must match");
            } else {
                // make the error msg disappear
                  $('#hiddenField3').hide();
            }
        

            console.log(errorMsg);

            return valid;
        }

        function savePassword() {
            if (formIsValid()) {
                save();
            }
        }
    </script>
}

@section CSS {
    <link rel="stylesheet" href="~/styles/changepw.css">
}
<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Users</p>
    </div>
    <div class="view-buttons">
        <button onclick="viewUser()" class="view-details" type="button">
            View User Details
        </button>
        <button onclick="viewDeletedUser()" class="view-deleted" type="button">
            View Deleted Users
        </button>

    </div>
    <hr class="divider">

    <div class="edit-container">
        <div class="title-bar orange-background">
            <p class="panel-header">Change User Password</p>

        </div>
        <div class="row1-employeeID">
            <label class="normal-weight" for="employeeID">Employee ID:</label>
            <input type="text" name="employeeID" readonly id="employeeID">
        </div>
        <div class="row3-currentPassword">
            <label class="normal-weight" for="newPassword">New Password:</label>
            <input type='password' name='newPassword' id="newPassword" />
        </div>
        <span id="hiddenField1" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row4-newPassword">
            <label class="normal-weight" for="confirmPassword">Confirm Password:</label>
            <input type='password' name='confirmPassword' id="confirmPassword" />
        </div>
        <span id="hiddenField2" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <span id="hiddenField3" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row5-buttons">

            <button onclick="savePassword()" class="save">Save</button>
            <button onclick="back()" class="cancel">Cancel</button>
        </div>
    </div>


</div>