@{
    Layout = "../Shared/_Layout.cshtml";
}

@model IEnumerable<AdminPortal.Models.Employee>

@section Scripts {

}

@section CSS {
    <link rel="stylesheet" href="~/styles/edituser.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Users</p>
    </div>
    <div class="view-buttons">
        <button class="view-details" type="button">
            View User Details
        </button>
        <button class="view-deleted" type="button">
            View Deleted Users
        </button>

    </div>
    <hr class="divider">
    <form>
        <div class="edit-container">
            <div class="title-bar blue-background">
                <p class="panel-header">Edit User</p>

            </div>
            <div class="row1-employeeID">
                <label class="normal-weight" for="employeeID">Employee ID:</label>
                <input type="text" name="employeeID" readonly>
            </div>
            <div class="row2-employeeName">
                <label class="normal-weight" for="employeeName">Employee Name:</label>
                <input type='text' name='employeeName' />
            </div>
            <div class="row3-department">
                <label class="normal-weight" for="department">Department:</label>
                <select class="form-control" id="department">
                    <option>Information Technology</option>
                    <option>Human Resource</option>
                    <option>Engineering</option>
                    <option>Finance</option>
                </select>
            </div>
            <div class="row4-rights">
                <label class="normal-weight" for="rights">Access Rights:</label>
                <select class="form-control" id="rights">
                    <option>Admin</option>
                    <option>Department Head</option>
                    <option>Employee</option>
                </select>
            </div>
            <div class="row5-status">
                <label class="normal-weight" for="status">Account Status:</label>
                <select class="form-control" id="status">
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </div>
            <div class="row6-buttons">
                <button class="delete">Delete</button>
                <button class="save">Save</button>
                <button class="cancel">Cancel</button>
            </div>
        </div>
    </form>

</div>
