
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/styles/manageuser.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Manague Users</title>
</head>

<body>
    <div class="black-overlay" onclick="showBG()">

        <div class="top-section blue-bar blue-background">
            <div class="hamburger" onclick="showBG()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <img src="../images/user.png" alt="user logo">
        </div>

        <div class="bottom-section">
            <div class="left-section blue-background">
                <div class="image-banner">
                    <img src="../images/logo.png" alt="wartsilla logo">
                </div>
                <div class="features">
                    <div class="manage-users">
                        <img src="../images/users.png" alt="manage user logo">
                        <button>Manage Users</button>

                    </div>
                    <div class="manage-games">
                        <img src="../images/game.png" alt="manage game logo">
                        <button>Manage Games</button>
                    </div>
                    <div class="manage-events">
                        <img src="../images/calendar.png" alt="manage event logo">
                        <button>Manage Events</button>
                    </div>

                    <div class="manage-points">
                        <img src="../images/points.png" alt="manage points logo">
                        <button>Manage Points</button>
                    </div>

                </div>
            </div>

            <div class="right-section white-background">
                <div class="title">
                    <p class="title-control">Manage Users</p>
                </div>
                <div class="view-buttons">
                    <button class="view-details" type="button">
                        View User Details
                    </button>
                    <button class="view-deleted" type="button">
                        View Deleted Users
                    </button>

                </div>
                <hr class="divider">
                <form>
                    <div class="search-bar">
                        <div class="input-field-search">
                            <img src="../images/search.png" alt="Magnifying Glass logo">
                            <input type='text' name='employeeName' size='15' placeholder='Search by Employee Name...' />
                        </div>


                        <div class="input-field-search2">
                            <input type="image" src="../images/plus.png" name="plus" alt="Plus Button">
                            <label for="plus">Advanced Search</label>
                        </div>

                        <div class="new-user-button">
                            <button class="orange-background" name="Add">Add new user</button>
                        </div>
                    </div>

                    <div class="search-fields">
                        <div class="first-row">
                            <div class="employeeColumn">
                                <label for="employeeID">Employee ID:</label>
                                <input type="text" name="employeeID" size='15' placeholder='Search by Employee ID...'>
                            </div>
                            <div class="departmentColumn">
                                <label for="department">Department:</label>
                                <select class="form-control" id="department">
                                    <option>Information Technology</option>
                                    <option>Human Resource</option>
                                    <option>Engineering</option>
                                    <option>Finance</option>
                                </select>
                            </div>
                        </div>
                        <div class="second-row">
                            <div class="rightsColumn">
                                <label for="rights">Access Rights:</label>
                                <select class="form-control" id="rights">
                                    <option>Admin</option>
                                    <option>Department Head</option>
                                    <option>Employee</option>
                                </select>
                            </div>
                            <div class="statusColumn">
                                <label for="status">Account Status:</label>
                                <select class="form-control" id="status">
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="button-row">
                            <button class="searchButton orange-background">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <table id="datatable" class="table table-bordered">
                    <thead class="blue-background">
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee</th>
                            <th>Department</th>
                            <th>Access</th>
                            <th>Account</th>
                            <th>Actions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>





        </div>

</body>

</html>

<script>
$(document).ready(function() {
    var table = $('#datatable').DataTable( {
        "ajax": "data/arrays.txt",
        "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": "<button>Edit</button>"
        } ]
    } );
})
</script>





<!-- //     let show = true;
//     function showBG() {
//         show = !show;
//         if (show) {
//             document.getElementsByClassName("black-overlay")[0].style.display = "block";
//             document.getElementsByClassName("left-section")[0].style.display = "block";

//         } else {
//             document.getElementsByClassName("black-overlay")[0].style.display = "none";
//             document.getElementsByClassName("left-section")[0].style.display = "none";
//         }
//     }
//  -->
