@{
    Layout = "../Shared/_Layout.cshtml";
}

@model IEnumerable<AdminPortal.Models.Employee>

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Script/tokenHelper.js"></script>
    <script type="text/javascript" src="~/Script/baseURL.js"></script>
    <script type="text/javascript" src="~/Script/formValidator.js"></script>
    <script>
        // Start of getting userId from addressbar
        var g_userId = getIdFromAddressBar();
        function getIdFromAddressBar() {
            var urlArray = window.location.href.split('/');
            var id = urlArray[urlArray.length - 1];
            return id;
        }

        var baseURL = getBaseURL();

        function getUserDetails(sessionObject) {
            bearerToken = sessionObject.Token1;
            var url = baseURL + "/api/v1/users/" + g_userId
            $loadUserDataHandler = jQuery.ajax({
                type: 'GET',
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + bearerToken);
                },
                url: url,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            })
            $loadUserDataHandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                var user = data;
                employeeId = user[0].employeeId
                employeeName = user[0].employeeName;
                departmentName = user[0].departmentName;
                totalPoints = user[0].totalPoints;



                $('#employeeID').val(employeeId);
                $('#employeeName').val(employeeName);
                $('#department').val(departmentName);
                $('#points').val(totalPoints);


            }) //end of done
        }

        $.when(tokenIsValid, getTokenSession(getUserDetails));


        //Using a function technique to define a JavaScript class, WebFormData
        function WebFormData(inCollectedPoints, inCollectedComments, inCUDBy) {
            this.Point = inCollectedPoints;
            this.Comments = inCollectedComments;
            this.CUDBy = inCUDBy;
        }

        function save(sessionObject) {

            var collectedPoints = $('#awardingPoints').val();
            var collectedComments = $('#reason').val();
            bearerToken = sessionObject.Token1; // this
            var collectedCUDBy = $('#employeeId').text();
            //Create a WebFormData object, webFormData. Have its field values
            //populated with the collected course data
            var webFormData = new WebFormData(collectedPoints,
                collectedComments, collectedCUDBy);
            //Convert the webFromData into a JSON string
            var webFormDataInString = JSON.stringify(webFormData);

            console.log(webFormDataInString);

            var noty = new Noty({
                text: 'Do you want to continue?',
                layout: 'center',
                //template: '<div class="noty_message" style="height:50px;"><span class="noty_text"></span>',
                buttons: [
                    Noty.button('Cancel', 'btn btn-default', function () {
                        noty.close();
                    }),
                    Noty.button('Confirm', 'btn btn-primary', function () {
                        var url = baseURL + "/api/v1/points/gift/" + g_userId
                        $deleteHandler = jQuery.ajax({
                            type: 'POST',
                            beforeSend: function (request) {
                                request.setRequestHeader("Authorization", "Bearer " + bearerToken);
                            },
                            url: url,
                            dataType: 'json',
                            contentType: 'application/json;',
                            data: "'" + webFormDataInString + "'"
                        })//end of jQuery.ajax() call

                        $deleteHandler.done(function (data, textStatus, jqXHR) {
                            alert("Points Awarded Successfully");
                            location.href = "/Point/AwardPoint/" + g_userId;
                            noty.close();
                        })

                        $deleteHandler.fail(function (data, textStatus, jqXHR) {
                            console.log(data);
                            new Noty({
                                text: data.responseJSON.message, type: 'error',
                                layout: 'center',
                                template: '<div class="noty_message"><span class="noty_text"></span>'
                            }).show();//end of noty()
                        });//end of $deleteCourseHandler.fail()
                    })
                ]
            }).show();
        }

        function savePoint() {
            if (formIsValid()) {
                $.when(tokenIsValid, getTokenSession(save));
            }
        }

        function redirectPage() {
            location.href = "/Point/ManagePoints";
        }

        function clickback() {
            redirectPage();
        }

        // check if all the fields in the form is valid
        function formIsValid() {

            var valid = true;
            var errorMsg = "";


            // check if event name is valid
            var obj = txtInputIsValid($('#awardingPoints').val());
            //if valid == false
            if (!obj.isValid) {
                valid = obj.isValid;
                console.log(obj.errorMsg.toString());
                // show error msg here
                $('#hiddenField').show().text(obj.errorMsg.toString());
            } else {
                // make the error msg disappear
                $('#hiddenField').hide();
                console.log("no more error msg for datetime")
            }


            // check if event description is valid
            var descriptionObj = txtInputIsValid($('#reason').val());
            if (!descriptionObj.isValid) {
                valid = descriptionObj.isValid;
                console.log(descriptionObj.errorMsg.toString())
                // show error msg here
                $('#hiddenField2').show().text(descriptionObj.errorMsg.toString());
            } else {
                // make the error msg disappear
                $('#hiddenField2').hide();
                console.log("no more error msg for description")
            }


            console.log(errorMsg);

            return valid;
        }
    </script>
}

@section CSS {
    <link rel="stylesheet" href="~/styles/awardpoints.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Points</p>
    </div>

    <hr class="divider">


    <div class="edit-container">
        <div class="title-bar orange-background">
            <p class="panel-header">Award Points</p>

        </div>

        <div class="row1-employeeID">
            <label class="normal-weight" for="employeeID">Employee ID:</label>
            <input type="text" class="form-control" name="employeeID" id="employeeID" readonly>
        </div>
        <div class="row2-employeeName">
            <label class="normal-weight" for="employeeName">Employee Name:</label>
            <input type='text' class="form-control" name='employeeName' id="employeeName" readonly />
        </div>
        <div class="row3-Department">
            <label class="normal-weight" for="department">Department:</label>
            <input type='text' class="form-control" name='department' id="department" readonly />
        </div>
        <div class="row4-CurrentPoints">
            <label class="normal-weight" for="currentPoints">Current Points:</label>
            <input type='text' class="form-control" name='currentPoints' id="points" readonly />
        </div>
        <div class="row5-PointsToAward">
            <label class="normal-weight" for="awardingPoints">Points to award:</label>
            <input type='number' class="form-control" name='awardingPoints' id="awardingPoints" />
        </div>
        <span id="hiddenField" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row6-Reason">
            <label class="normal-weight" for="Reason">Reason for award:</label>
            <input type='text' class="form-control" name='Reason' id="reason" />
        </div>
        <span id="hiddenField2" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>


        <div class="row7-buttons">

            <button class="save" onclick="savePoint()">Save</button>
            <button onclick="clickback()" class="cancel">Cancel</button>
        </div>
    </div>


</div>
