@{
    Layout = "../Shared/_Layout.cshtml";
}

@model IEnumerable<AdminPortal.Models.Event>

@section Scripts {
    <script src="~/Script/select2.min.js"></script>
    <script type="text/javascript" src="~/Script/tokenHelper.js"></script>
    <script type="text/javascript" src="~/Script/baseURL.js"></script>
    <script type="text/javascript" src="~/Script/formValidator.js"></script>

    <script>
        $(document).ready(function () {
            $(".mySelect2").select2();
        });

        var baseURL = getBaseURL();

        function loadDepartments(sessionObject) {
            bearerToken = sessionObject.Token1;
            var url = baseURL + "/api/v1/departments"
            var $loadhandler = jQuery.ajax({
                type: 'GET',
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + bearerToken);
                },
                url: url,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            });
            $loadhandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                $.each(data, function (key, obj) {
                    //console.log(key)
                    console.log(obj)
                    console.log(obj.departmentName)
                    $("#department").append($("<option></option>")
                        .attr("value", obj.departmentId)
                        .text(obj.departmentName));
                });
            });
        }
        $.when(tokenIsValid, getTokenSession(loadDepartments));


        //Using a function technique to define a JavaScript class, WebFormData
        function WebFormData(inCollectedStartDateTime, inCollectedEndDateTime,
            inCollectedEventName, inCollectedEventDescription, inCollectedDepartmentId, inCUDBy) {

            this.startDateTime = inCollectedStartDateTime;
            this.endDateTime = inCollectedEndDateTime;
            this.EventName = inCollectedEventName;
            this.EventDescription = inCollectedEventDescription;
            this.DepartmentList = inCollectedDepartmentId;
            this.CUDBy = inCUDBy;
        }

        function save(sessionObject) {
            var collectedStartDate = $('#startDate').val();
            var collectedEndDate = $('#endDate').val();
            var collectedStartTime = $('#startTime').val();
            var collectedEndTime = $('#endTime').val();
            var collectedEventName = $('#name').val();
            var collectedEventDescription = $('#description').val();
            var collectedDepartment = $('#department').val();
            bearerToken = sessionObject.Token1; // this
            var collectedCUDBy = $('#employeeId').text();
            var collectedStartDateTime = new Date(collectedStartDate + ' ' + collectedStartTime);
            var collectedStartDateTime2 = collectedStartDateTime.toISOString().replace('Z', '').replace('.000', '');

            var collectedEndDateTime = new Date(collectedEndDate + ' ' + collectedEndTime);
            var collectedEndDateTime2 = collectedEndDateTime.toISOString().replace('Z', '').replace('.000', '');
            //Create a WebFormData object, webFormData. Have its field values
            //populated with the collected course data
            var webFormData = new WebFormData(collectedStartDateTime2, collectedEndDateTime2,
                collectedEventName, collectedEventDescription, collectedDepartment, collectedCUDBy);
            //Convert the webFromData into a JSON string
            var webFormDataInString = JSON.stringify(webFormData);

            console.log("Event Details: " + webFormDataInString);

            var url = baseURL + "/api/v1/events"
            $updateCourseHandler = jQuery.ajax({
                type: 'POST',
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + bearerToken);
                },
                url: url,
                dataType: 'json',
                contentType: 'application/json;',
                data: "'" + webFormDataInString + "'"
            })//end of jQuery.ajax() call
            $updateCourseHandler.done(function (data, textStatus, jqXHR) {
                alert("Event Added Successfully");
                location.href = "/Event/AddEvent";

            });//end of $updateCourseHandler.done()

            $updateCourseHandler.error(function (data, textStatus, jqXHR) {
                console.log(data.responseJSON.message);
            });//end of $updateCourseHandler.error()*/
        }

        // check if all the fields in the form is valid
        function formIsValid() {

            var valid = true;
            var errorMsg = "";

            //check if startDate, startTime, endDate, endTime are valid
            var dateTimeObj = dateTimeIsValid($('#startDate').val())
            if (!dateTimeObj.isValid) {
                valid = dateTimeObj.isValid;
                console.log(dateTimeObj.errorMsg.toString())
                // show error msg here
                   $('#hiddenField').show().text(dateTimeObj.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField').hide();
                console.log("no more error msg for datetime")
            }

              //check if startDate, startTime, endDate, endTime are valid
            var dateTimeObj2 = dateTimeIsValid($('#endDate').val())
            if (!dateTimeObj2.isValid) {
                valid = dateTimeObj2.isValid;
                console.log(dateTimeObj2.errorMsg.toString())
                // show error msg here
                  $('#hiddenField2').show().text(dateTimeObj2.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField2').hide();
                console.log("no more error msg for datetime")
            }

                 //check if startDate, startTime, endDate, endTime are valid
            var dateTimeObj3 = dateTimeIsValid($('#startTime').val())
            if (!dateTimeObj3.isValid) {
                valid = dateTimeObj3.isValid;
                console.log(dateTimeObj3.errorMsg.toString())
                // show error msg here
                   $('#hiddenField3').show().text(dateTimeObj3.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField3').hide();
                console.log("no more error msg for datetime")
            }

            
                 //check if startDate, startTime, endDate, endTime are valid
            var dateTimeObj4 = dateTimeIsValid($('#endTime').val())
            if (!dateTimeObj4.isValid) {
                valid = dateTimeObj4.isValid;
                console.log(dateTimeObj4.errorMsg.toString())
                // show error msg here
                   $('#hiddenField4').show().text(dateTimeObj4.errorMsg.toString());
            } else {
                // make the error msg disappear
                 $('#hiddenField4').hide();
                console.log("no more error msg for datetime")
            }

                      //check if startDate, startTime, endDate, endTime are valid
            var checkAllTimeObj = dateTimeIsValid($('#startDate').val(),
                $('#startTime').val(),
                $('#endDate').val(),
                $('#endTime').val())
            if (!checkAllTimeObj.isValid) {
                valid = checkAllTimeObj.isValid;
                console.log(checkAllTimeObj.errorMsg.toString())
                // show error msg here
                   $('#hiddenField8').show().text(checkAllTimeObj.errorMsg.toString());
            } else {
                // make the error msg disappear
                 $('#hiddenField8').hide();
                console.log("no more error msg for datetime")
            }

            
            // check if event name is valid
            var obj = txtInputIsValid($('#name').val());
            //if valid == false
            if (!obj.isValid) {
                valid = obj.isValid;
                console.log(obj.errorMsg.toString());
                // show error msg here
               $('#hiddenField5').show().text(obj.errorMsg.toString());
            } else {
                // make the error msg disappear
               $('#hiddenField5').hide();
                console.log("no more error msg for datetime")
            }


            // check if event description is valid
            var descriptionObj = txtInputIsValid($('#description').val());
            if (!descriptionObj.isValid) {
                valid = descriptionObj.isValid;
                console.log(descriptionObj.errorMsg.toString())
                // show error msg here
                  $('#hiddenField6').show().text(descriptionObj.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField6').hide();
                console.log("no more error msg for description")
            }

            // check if event department is valid
            var departmentObj = departmentDropdownIsValid($('#department').val());
            if (!departmentObj.isValid) {
                valid = departmentObj.isValid;
                console.log(departmentObj.errorMsg.toString())
                // show error msg here
                   $('#hiddenField7').show().text(departmentObj.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField7').hide();
                console.log("no more error msg for department")
            }

            console.log(errorMsg);

            return valid;
        }

        function saveEvent() {
            //check if inputs are valid first
            if (formIsValid()) {
                console.log("form is valid")
                $.when(tokenIsValid, getTokenSession(save));
            } else {
                console.log("form is not valid");
            }
        }

        function redirectPage() {
            location.href = "/Event/ManageEvents";
        }

        function clickback() {
            redirectPage();
        }
    </script>
}

@section CSS {
    <link rel="stylesheet" href="~/styles/addevent.css">
    <link href="~/css/select2.min.css" rel="stylesheet" />
}


<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Events</p>
    </div>

    <hr class="divider">

    <div class="edit-container">
        <div class="title-bar orange-background">
            <p class="panel-header">Add Event</p>

        </div>
        <div class="row1-startDate">
            <label class="normal-weight" for="startDate">Start Date:</label>
            <input type="date" class="form-control" name="startDate" id="startDate">
        </div>
        <span id="hiddenField" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row2-endDate">
            <label class="normal-weight" for="endDate">End Date:</label>
            <input type="date" class="form-control" name="endDate" id="endDate">
        </div>
        <span id="hiddenField2" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row3-startTime">
            <label class="normal-weight" for="startTime">Start Time:</label>
            <input type="time" class="form-control" name="startTime" id="startTime">
        </div>
        <span id="hiddenField3" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row4-endTime">
            <label class="normal-weight" for="endTime">End Time:</label>
            <input type="time" class="form-control" name="endTime" id="endTime">
        </div>
        <span id="hiddenField4" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row5-eventName">
            <label class="normal-weight" for="eventName">Event Name:</label>
            <input type="text" class="form-control" name="eventName" id="name">
        </div>
        <span id="hiddenField5" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row6-eventDescription">
            <label class="normal-weight" for="eventDescription">Event Description:</label>
            <input type="text" class="form-control" name="eventDescription" id="description">
        </div>
        <span id="hiddenField6" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row7-department">
            <label class="normal-weight" for="department">Department:</label>
            <select class="mySelect2" multiple id="department">
            </select>
        </div>
        <span id="hiddenField7" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <span id="hiddenField8" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row8-buttons">

            <button onclick="saveEvent()" class="save">Save</button>
            <button onclick="clickback()" class="cancel">Cancel</button>
        </div>
    </div>


</div>