
@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript" src="~/Script/tokenHelper.js"></script>
    <script type="text/javascript" src="~/Script/baseURL.js"></script>
    <script>
             var baseURL = getBaseURL();

        //Using a function technique to define a JavaScript class, WebFormData
        function WebFormData(inCollectedReward, inCollectedPointNeeded, inCUDBy) {
            this.Reward = inCollectedReward;
            this.PointNeeded = inCollectedPointNeeded;
             this.CUDBy = inCUDBy;
        }

        function clickSave(sessionObject) {
            var collectedReward = $('#reward').val();
            var collectedPoints = $('#points').val();
             bearerToken = sessionObject.Token1; // this
            var collectedCUDBy = $('#employeeId').text();
            //Create a WebFormData object, webFormData. Have its field values
            //populated with the collected course data
            var webFormData = new WebFormData(collectedReward, collectedPoints, collectedCUDBy);
            //Convert the webFromData into a JSON string
            var webFormDataInString = JSON.stringify(webFormData);

            console.log("JSON RESULTS for add: " + webFormDataInString);

            var url = baseURL +  "/api/v1/milestone"
                $updateCourseHandler = jQuery.ajax({
                    type: 'POST',
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Bearer " + bearerToken);
                    },
                    url: url,
                    dataType: 'json',
                    contentType: 'application/json;',
                    data: "'" + webFormDataInString + "'"
                })//end of jQuery.ajax() call
                $updateCourseHandler.done(function (data, textStatus, jqXHR) {
                    alert("Reward Added Successfully");
                    location.href = "/Milestone/AddReward";
                });//end of $updateCourseHandler.done()

                $updateCourseHandler.error(function (data, textStatus, jqXHR) {
                    console.log(data.responseJSON.message);
                });//end of $updateCourseHandler.error()*/
        }

        function save() {
               $.when(tokenIsValid, getTokenSession(clickSave));
        }

        function clickback() {
            location.href = "/Milestone/ManageMilestones";
        }

           function view() {
               location.href = "/Milestone/ManageMilestones";
        }

         function viewDeleted() {
            location.href = "/Milestone/ManageDeletedMilestones";
        }
    </script>
}

@section CSS {
    <link rel="stylesheet" href="~/styles/addreward.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Milestones</p>
    </div>
    <div class="view-buttons">
        <button onclick="view()" class="view-details" type="button">
            View Reward Details
        </button>
        <button class="view-deleted" type="button">
            View Deleted Reward
        </button>
        </div>
        <hr class="divider">

        <div class="edit-container">
            <div class="title-bar orange-background">
                <p class="panel-header">Add Reward</p>

            </div>
            <div class="row1-reward">
                <label class="normal-weight" for="reward">Name of Reward:</label>
                <input type="text" name="reward" id="reward">
            </div>
            <div class="row2-points">
                <label class="normal-weight" for="points">Points Needed:</label>
                <input type='text' name='points' id="points" />
            </div>

            <div class="row3-buttons">
                <button class="save" onclick="save()">Save</button>
                <button onclick="clickback()" class="cancel">Cancel</button>
            </div>
        </div>


    </div>
