
@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/styles/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Login</title>
</head>

<body>
    <div class="top-section white-background">

    </div>
    <div class="bottom-section blue-background">
        <div id="messageAlert" style="display:none" class="alert alert-success" role="alert">
            Login Successfully
        </div>

        <label class="label">Employee ID</label>
        <input type="text" name="employeeID" class="input" required="required" id="username">

        <label class="label">Password</label>
        <input type="password" name="password" class="input" required="required" id="password">

        <button class="login-button" onclick="login()">Submit</button>
     
    </div>
</body>


<script>

    //Using a function technique to define a JavaScript class, WebFormData
    function WebFormData(inCollectedUsername, inCollectedPassword) {
        this.Username = inCollectedUsername;
        this.Password = inCollectedPassword;
    }

    function login() {
        var collectedUsername = $('#username').val();
        var collectedPassword = $('#password').val();
        //Create a WebFormData object, webFormData. Have its field values
        //populated with the collected course data
        var webFormData = new WebFormData(collectedUsername, collectedPassword);
        //Convert the webFromData into a JSON string
        var webFormDataInString = JSON.stringify(webFormData);

        console.log(webFormDataInString);

        var url = "https://localhost:44300/api/signin"

        $loginHandler = jQuery.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            contentType: 'application/json;',
            data: "'" + webFormDataInString + "'"
        })//end of jQuery.ajax() call
          $loginHandler.done(function (data, textStatus, jqXHR) {
                $("#messageAlert").show();
            });//end of $loginHandler.done()

            //$loginHandler.error(function (data, textStatus, jqXHR) {
            //    console.log(data.responseJSON.message);
            //});//end of $loginHandler.error()*/

    }

</script>



