
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/styles/style.css" rel="stylesheet" />
    <title>Login</title>
</head>

<body>
    <div class="top-section white-background">

    </div>
    <div class="bottom-section blue-background">
        <form action="Verify" method="POST">
            <label class="label">Employee ID</label>
            <input type="text" name="employeeID" class="input" required="required">

            <label class="label">Password</label>
            <input type="password" name="password" class="input" required="required">

            <input type="submit" value="login" class="login-button">
        </form>
    </div>
</body>

</html>
