
@{
    Layout = null;
}

<h1>AuditReport</h1>

<table id="datatable" class="table table-bordered">
    <thead class="blue-background">
        <tr>
            <th>Admin</th>
            <th>Action</th>
            <th>Date Time</th>
            <th>Target</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>