@{
    Layout = "../Shared/_Layout.cshtml";
}
@model Report


@section Scripts {
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>

        var selectedReportType = '';
        var startDate = '';
        var endDate = '';
        var report = '';

        $('#generate').on('click', function () {
            selectedReportType = $('#report :selected').text();
            startDate = new Date($('#startDate').val());
            //startDate = startDate.getDate() + "/" + (startDate.getMonth() + 1) + "/" + startDate.getFullYear() + " " + startDate.getHours() + ':' + startDate.getMinutes() + ':' + startDate.getSeconds();
            startDate = startDate.getFullYear() + "-" + ("0" + (startDate.getMonth() + 1)).slice(-2) + "-" + ("0" + startDate.getDate()).slice(-2);
            endDate = new Date($('#endDate').val());
            endDate = endDate.getFullYear() + "-" + ("0" + (endDate.getMonth() + 1)).slice(-2) + "-" + ("0" + endDate.getDate()).slice(-2);
            console.log(selectedReportType);
            console.log("FROM " + startDate + " TO " + endDate);

            localStorage.setItem('start', startDate);
            localStorage.setItem('end', endDate);
        });
        // Function to change form action.
        $("#report").change(function () {
            var selected = $(this).children(":selected").text();
            switch (selected) {
                case "Milestone Report":
                    $("#myform").attr('action', 'MilestoneReport');
                    //alert("Form Action is Changed to 'MilestoneReport'n Press Submit to Confirm");
                    break;
                case "Milestone Report(Excel)":
                    $("#myform").attr('action', 'MilestoneReport2');
                    //alert("Form Action is Changed to 'MilestoneReport'n Press Submit to Confirm");
                    break;
                case "Audit Log Report":
                    $("#myform").attr('action', 'AuditReport');
                    //alert("Form Action is Changed to 'AuditReport'n Press Submit to Confirm");
                    break;
                case "Department Ranking Report":
                    $("#myform").attr('action', 'RankingReport');
                    //alert("Form Action is Changed to 'RankingReport'n Press Submit to Confirm");
                    break;
                default:
                    $("#myform").attr('action', 'MilestoneReport');
            }
        });
    </script>
}

@section CSS {
    <link rel="stylesheet" href="~/styles/managereport.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Reports</p>
    </div>

    <hr class="divider">
    <form id="myform" name="myform" method="get">
        <div class="selection-bar">

            <div class="left-selection">
                <label for="report">Report Type:</label>
                <select class="form-control" id="report" asp-for="ReportType">
                    <option selected hidden>Choose here</option>
                    <option value="milestone">Milestone Report</option>
                    <option value="milestone">Milestone Report(Excel)</option>
                    <option value="audit">Audit Log Report</option>
                    <option value="ranking">Department Ranking Report</option>
                </select>
            </div>

            <div class="generate-report-button">
                <button id="generate" onclick="generate()" class="orange-background" name="Generate" type="submit">Generate</button>
            </div>
        </div>

        <div id="advSearch" class="search-fields">
            <div class="first-row">
                <div class="startDateColumn">
                    <label for="startDate">Start Date:</label>
                    <input type="date" class="form-control" name="startDate" id="startDate" asp-for="StartDate">
                </div>
            </div>
            <span id="hiddenField" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
            <div class="second-row">
                <div class="endDateColumn">
                    <label for="endDate">End Date:</label>
                    <input type="date" class="form-control" name="endDate" id="endDate" asp-for="EndDate">
                </div>

            </div>
            <span id="hiddenField2" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
            <span id="hiddenField3" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        </div>
    </form>
</div>

