@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>

        var selectedReportType = '';
        var startDate = '';
        var endDate = '';

        $('#generate').on('click', function () {
            selectedReportType = $('#report :selected').text();
            startDate = new Date($('#startDate').val());
            //startDate = startDate.getDate() + "/" + (startDate.getMonth() + 1) + "/" + startDate.getFullYear() + " " + startDate.getHours() + ':' + startDate.getMinutes() + ':' + startDate.getSeconds(); 
            startDate = startDate.getDate() + "/" + (startDate.getMonth() + 1) + "/" + startDate.getFullYear(); 
            endDate = new Date($('#endDate').val());
            startDate = endDate.getDate() + "/" + (endDate.getMonth()+1) + "/" + endDate.getFullYear(); 
            console.log(selectedReportType);
            console.log("FROM " + startDate + " TO " + endDate);
        });
    </script>
}

@section CSS {
    <link rel="stylesheet" href="~/styles/managepoints.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Generate report</p>
    </div>

    <hr class="divider">


    <div id="advSearch" class="search-fields">

        <div class="first-row">
            <div class="reportTypeColumn">
                <label for="report">Report Type:</label>
                <select class="form-control" id="report">
                    <option value="1">Milestone Report</option>
                    <option value="2">Audit Log Report</option>
                </select>
            </div>

        </div>
        <div class="second-row">
            <div class="startDateColumn">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" name="startDate" id="startDate">
            </div>
            <div class="endDateColumn">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" name="endDate" id="endDate">
            </div>

        </div>

        <div class="button-row">
            <button class="searchButton orange-background" id="generate">
                Generate
            </button>
        </div>
    </div>
</div>
