@{
    Layout = "../Shared/_Layout.cshtml";
}

@*@model IEnumerable<AdminPortal.Models.Employee>*@

@section Scripts {
    <script type="text/javascript" src="~/Script/tokenHelper.js"></script>
    <script type="text/javascript" src="~/Script/baseURL.js"></script>
    <script type="text/javascript" src="~/Script/formValidator.js"></script>
    <script>
        // Start of getting userId from addressbar
        var gameId = getIdFromAddressBar();
        function getIdFromAddressBar() {
            var urlArray = window.location.href.split('/');
            var id = urlArray[urlArray.length - 1];
            return id;
        }

        var baseURL = getBaseURL();


        var choiceId1;
        var choiceId2;
        var choiceId3;
        var choiceId4;

        //Using a function technique to define a JavaScript class, WebFormData
        function WebFormData(inCollectedQuestion1, inCollectedUrl, inCollectedAnswer, inCollectedChoice1,
            inCollectedChoice2, inCollectedChoice3, inCollectedChoice4, inCUDBy) {
            this.Question = inCollectedQuestion1;
            this.ImageUrl = inCollectedUrl;
            this.Answer = inCollectedAnswer;
            this.Choice1 = inCollectedChoice1;
            this.Choice2 = inCollectedChoice2;
            this.Choice3 = inCollectedChoice3;
            this.Choice4 = inCollectedChoice4;
            this.CUDBy = inCUDBy;
        }

        function clickSave(sessionObject) {
            bearerToken = sessionObject.Token1; // this
            var collectedCUDBy = $('#employeeId').text();
            console.log("CUDBY: " + collectedCUDBy);
            var collectedQuestion = $('#question').val();
            var collectedImageUrl = "";
            //get the text input of the choice using the val of answer (choiceId)
            var selectedChoiceId = $('#answer').val();
            var collectedAnswer = $('#' + selectedChoiceId).val();
            //
            var collectedChoice1 = $('#choice1').val();
            var collectedChoice2 = $('#choice2').val();
            var collectedChoice3 = $('#choice3').val();
            var collectedChoice4 = $('#choice4').val();



            //Create a WebFormData object, webFormData. Have its field values
            //populated with the collected course data
            var webFormData = new WebFormData(collectedQuestion, collectedImageUrl, collectedAnswer, collectedChoice1, collectedChoice2, collectedChoice3, collectedChoice4, collectedCUDBy);
            //Convert the webFromData into a JSON string
            var webFormDataInString = JSON.stringify(webFormData);

            console.log(webFormDataInString);

            var url = baseURL + "/api/v1/games/" + gameId
            $updateCourseHandler = jQuery.ajax({
                type: 'POST',
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + bearerToken);
                },
                url: url,
                dataType: 'json',
                contentType: 'application/json;',
                data: "'" + webFormDataInString + "'"
            })//end of jQuery.ajax() call
            $updateCourseHandler.done(function (data, textStatus, jqXHR) {
                alert("Question added Successfully");
                location.href = "/Game/AddQuestion/" + gameId;
            });//end of $updateCourseHandler.done()

            $updateCourseHandler.error(function (data, textStatus, jqXHR) {
                console.log(data.responseJSON.message);
            });//end of $updateCourseHandler.error()*/
        }

        function save() {
            if (formIsValid()) {
            $.when(tokenIsValid, getTokenSession(clickSave));
            }
        }

        function redirectPage() {
            location.href = "/Game/ManageGames";
        }

        function clickback() {
            redirectPage();
        }

               // check if all the fields in the form is valid
        function formIsValid() {

            var valid = true;
            var errorMsg = "";

            // check if employee id is valid
            var questionObj = txtInputIsValid($('#question').val());
            //if valid == false
            if (!questionObj.isValid) {
                valid = questionObj.isValid;
                console.log(questionObj.errorMsg.toString());
                // show error msg here
            $('#hiddenField').show().text(questionObj.errorMsg.toString());
            } else {
                // make the error msg disappear
                $('#hiddenField').hide();
                console.log("no more error msg for datetime")
            }


            // check if employee name is valid
            var choice1Obj = txtInputIsValid($('#choice1').val());
            if (!choice1Obj.isValid) {
                valid = choice1Obj.isValid;
                console.log(choice1Obj.errorMsg.toString())
                // show error msg here
             $('#hiddenField2').show().text(choice1Obj.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField2').hide();
                console.log("no more error msg for description")
            }

                var choice2Obj = txtInputIsValid($('#choice2').val());
            if (!choice2Obj.isValid) {
                valid = choice2Obj.isValid;
                console.log(choice2Obj.errorMsg.toString())
                // show error msg here
             $('#hiddenField3').show().text(choice2Obj.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField3').hide();
                console.log("no more error msg for description")
            }

                     var choice3Obj = txtInputIsValid($('#choice3').val());
            if (!choice3Obj.isValid) {
                valid = choice3Obj.isValid;
                console.log(choice3Obj.errorMsg.toString())
                // show error msg here
             $('#hiddenField4').show().text(choice3Obj.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField4').hide();
                console.log("no more error msg for description")
            }

                     var choice4Obj = txtInputIsValid($('#choice4').val());
            if (!choice4Obj.isValid) {
                valid = choice4Obj.isValid;
                console.log(choice4Obj.errorMsg.toString())
                // show error msg here
             $('#hiddenField5').show().text(choice4Obj.errorMsg.toString());
            } else {
                // make the error msg disappear
                  $('#hiddenField5').hide();
                console.log("no more error msg for description")
            }
            console.log(errorMsg);

            return valid;
        }
    </script>
}

@section CSS {
    <link rel="stylesheet" href="~/styles/addquestion.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Games</p>
    </div>

    <hr class="divider">

    <div class="edit-container">
        <div class="title-bar orange-background">
            <p class="panel-header">Add Question</p>

        </div>
        <div class="row1-question">
            <label class="normal-weight" for="question">Question:</label>
            <input type="text" name="question" id="question">
        </div>
        <span id="hiddenField" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row2-choice1">
            <label class="normal-weight" for="choice1">Choice 1:</label>
            <input type='text' name='choice1' id="choice1" />
        </div>
        <span id="hiddenField2" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row3-choice2">
            <label class="normal-weight" for="choice2">Choice 2:</label>
            <input type='text' name='choice2' id="choice2" />

        </div>
        <span id="hiddenField3" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row4-choice3">
            <label class="normal-weight" for="choice3">Choice 3:</label>
            <input type='text' name='choice3' id="choice3" />
        </div>
        <span id="hiddenField4" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row5-choice4">
            <label class="normal-weight" for="choice4">Choice 4:</label>
            <input type='text' name='choice4' id="choice4" />
        </div>
        <span id="hiddenField5" style="display: none; text-align: center;
    font-size: 12px; color: red;"></span>
        <div class="row6-answer">
            <label class="normal-weight" for="answer">Answer:</label>
            <select class="form-control" id="answer">
                <option value="choice1">Choice 1</option>
                <option value="choice2">Choice 2</option>
                <option value="choice3">Choice 3</option>
                <option value="choice4">Choice 4</option>
            </select>
        </div>
        <div class="row7-buttons">
            <button class="save" onclick="save()">Save</button>
            <button onclick="clickback()" class="cancel">Cancel</button>
        </div>
    </div>


</div>